#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_auto_build: bootloaders cores firmwares libraries variants
	dh_auto_build

bootloaders: atmega atmega8 bt \
             caterina caterina-robot caterina-lilypad gemma \
	     lilipad optiboot stk500v2
	# bootloaders

atmega:
	cd bootloaders/atmega && make lilypad
	cd bootloaders/atmega && make lilypad_resonator
	cd bootloaders/atmega && make pro8
	cd bootloaders/atmega && make pro16
	cd bootloaders/atmega && make pro20
	cd bootloaders/atmega && make diecimila
	cd bootloaders/atmega && make ng
	cd bootloaders/atmega && make atmega328
	cd bootloaders/atmega && make atmega328_notp
	cd bootloaders/atmega && make atmega328_pro8
	cd bootloaders/atmega && make mega

# TODO: fix makefile
atmega8:
	cd bootloaders/atmega8 && \
	make

bt:
	cd bootloaders/bt && \
	make atmega328_bt

caterina:
	cd bootloaders/caterina && make VID=0x2341 PID=0x0036 Caterina-Leonardo.hex clean
	cd bootloaders/caterina && make VID=0x2341 PID=0x0037 Caterina-Micro.hex    clean
	cd bootloaders/caterina && make VID=0x2341 PID=0x003C Caterina-Esplora.hex  clean

caterina-robot:
	cd bootloaders/caterina-Arduino_Robot && make VID=0x2341 PID=0x0038 Caterina-Robot-Control.hex clean
	cd bootloaders/caterina-Arduino_Robot && make VID=0x2341 PID=0x0039 Caterina-Robot-Motor.hex   clean

caterina-lilypad:
	cd bootloaders/caterina-LilyPadUSB && make Caterina-LilyPadUSB.hex clean

gemma:
	# Sourcecode is elsewere, see bootloaders/gemma/README.md

lilipad:
	cd bootloaders/lilypad/src && \
	make lily
	mv bootloaders/lilypad/src/ATmegaBOOT_168.hex bootloaders/lilypad/LilyPadBOOT_168.hex

# NOTE: atmega88 doesn't build, i've removed the target
optiboot:
	cd bootloaders/optiboot && make pro20
	cd bootloaders/optiboot && make pro16
	cd bootloaders/optiboot && make atmega168
	cd bootloaders/optiboot && make atmega328
	cd bootloaders/optiboot && make sanguino
	cd bootloaders/optiboot && make mega
	cd bootloaders/optiboot && make atmega8
	#cd bootloaders/optiboot && make atmega88 # atmega88 doesn't build
	cd bootloaders/optiboot && make lilypad
	cd bootloaders/optiboot && make lilypad_resonator
	cd bootloaders/optiboot && make pro8
	cd bootloaders/optiboot && make atmega328_pro8
	cd bootloaders/optiboot && make luminet

stk500v2:
	cd bootloaders/stk500v2 && make mega1280
	cd bootloaders/stk500v2 && make mega2560
	cd bootloaders/stk500v2 && make amber128
	cd bootloaders/stk500v2 && make m2561
	cd bootloaders/stk500v2 && make cerebot
	cd bootloaders/stk500v2 && make penguino

cores:
	# cores

firmwares:
	# firmwares

libraries:
	# libraries

variants:
	# variants

override_dh_auto_clean:
	# Clean bootloaders
	cd bootloaders/atmega                 && make clean
	cd bootloaders/atmega8                && make clean
	cd bootloaders/bt                     && make clean
	cd bootloaders/caterina               && make clean \
	&& rm Caterina-Leonardo.hex Caterina-Micro.hex Caterina-Esplora.hex
	cd bootloaders/caterina-Arduino_Robot && make clean \
	&& rm Caterina-Robot-Control.hex Caterina-Robot-Motor.hex
	cd bootloaders/caterina-LilyPadUSB    && make clean \
	&& rm Caterina-LilyPadUSB.hex
	# the sourcecode is elsewere
	#cd bootloaders/gemma
	cd bootloaders/lilypad/src            && make clean \
	&& rm ../LilyPadBOOT_168.hex
	cd bootloaders/optiboot               && make clean
	cd bootloaders/stk500v2               && make clean
	dh_auto_clean
